table {
    border-collapse: collapse;
}
/* ----- Grid Styling ----- */
.cell {
    height: 40px;
    width: 40px;

}
.empty {
      background-color: #EEE !important
}
/* ----- Grid Styling End -----  */
