table {
    border-collapse: collapse;
}
/* ----- Grid Styling ----- */
td {
    height: 25px;
    width: 25px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    color: #101E24;
}
/* ----- Grid Styling End -----  */
